* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
*.sql export-ignore
manual_2026-08-30_015910.mysql.sql export-ignore
"AlinnThit Mobile Shop Notes data" export-ignore
storage/app/backups export-ignore
dist export-ignore

